/* author: @facundovictor */
/* Importing configuration */
.background {
  fill: #fff;
  fill-opacity: 0.01;
}
.component {
  fill: #e1e1e1;
}
.component .label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  fill: #00f;
}
.arc {
  stroke-weight: 0.1;
  fill: #a2b4b3;
}
.arc2 {
  stroke-weight: 0.1;
  fill: #a2b4b3;
}
.label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
}
.radial-svg {
  display: block;
  margin: 0 auto;
/* hidding the percent */
/* Loading required colors */
}
.radial-svg text {
  display: none;
}
.radial-svg .component path {
  fill: #f2f6f5 !important;
}
.radial-svg .arcs .arc,
.radial-svg .arcs .arc2 {
  fill: #a2b4b3 !important;
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html,
body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .menu {
  background-color: #fcfdfd;
  max-width: 23.8vw;
  width: 23.8vw;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .menu .presentation {
  background-color: #f3f7f7;
  height: 29.8vw;
  max-height: 29.8vw;
  width: 23.8vw;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .menu .presentation .profile {
  margin: 4vw auto;
  margin-bottom: calc(4vw - 3vw);
}
body .menu .presentation .profile img {
  border-radius: 50%;
  width: 12.3vw;
  display: block;
  margin: 0 auto;
}
body .menu .presentation .profile .flag {
  position: absolute;
  top: calc(9vw + 4vw);
  left: calc(10vw + 4vw);
}
body .menu .presentation .profile .flag {
  width: calc(4vw - 1vw);
  height: calc(4vw - 1vw);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vw solid #f3f7f7;
}
body .menu .presentation .profile .flag svg {
  display: block;
  position: relative;
  top: -0.16vw;
  left: -0.15vw;
  height: calc(4vw - 0.7vw);
  width: calc(4vw - 0.7vw);
  background-color: #f5df41;
}
body .menu .presentation .profile .flag svg path {
  fill: #2d42f8;
}
body .menu .presentation .profile .flag svg path:first-child {
  fill: #56ff2c;
}
@media screen and (max-width: 678px) {
  body .menu .presentation .profile .flag {
    width: calc(8vw - 1vw);
    height: calc(8vw - 1vw);
  }
  body .menu .presentation .profile .flag svg {
    height: calc(8vw - 0.7vw);
    width: calc(8vw - 0.7vw);
  }
}
body .menu .presentation h1,
body .menu .presentation h2 {
  text-align: center;
}
body .menu .presentation h1:nth-child(2) {
  font-family: arial;
  font-size: 1.8vw;
  margin: 2vw 0 0 0;
}
body .menu .presentation h1:nth-child(3) {
  color: #545a5b;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0.4vw 0 0 0;
}
body .menu .presentation h2 {
  font-style: italic;
  font-weight: 100;
}
body .menu .presentation h2:nth-child(4) {
  font-size: 1.5vw;
}
body .menu .presentation h2:nth-child(4):before {
  content: '';
  background-image: url("../images/svg/pin.svg");
  height: 1.5vw;
  width: 1.6vw;
  background-size: 1.5vw 1.6vw;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 4.5vw;
}
@media screen and (max-width: 678px) {
  body .menu .presentation {
    width: 80vw;
  }
  body .menu .presentation .profile {
    margin-left: 4vw;
  }
  body .menu .presentation .profile img {
    width: 20vw;
/* For IE support */
    display: inline;
  }
  body .menu .presentation .profile .flag {
    top: calc(13vw + 4vw);
    left: calc(14vw + 4vw);
  }
  body .menu .presentation h1,
  body .menu .presentation h2 {
    position: absolute;
    left: 30vw;
  }
  body .menu .presentation h1:nth-child(2) {
    font-size: 3.6vw;
    top: 4.5vw;
  }
  body .menu .presentation h1:nth-child(3) {
    font-size: 3vw;
    font-style: italic;
    top: 13vw;
  }
  body .menu .presentation h2:nth-child(4) {
    font-size: 2vw;
    top: 18.5vw;
    padding-left: 2vw;
  }
  body .menu .presentation h2:nth-child(4):before {
    background-size: 2vw 2.2vw;
    left: 0;
    height: 2vw;
    width: 2.2vw;
  }
}
body .menu .data {
  height: 7.91vw;
  width: 23.8vw;
  overflow: hidden;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #e1e5e5;
  background-color: #e1e5e5;
}
body .menu .data div {
  width: calc(99.99% * 1/3 - (1px - 1px * 1/3));
  height: 7.91vw;
  overflow: hidden;
  background-color: #f3f7f7;
}
body .menu .data div:nth-child(n) {
  float: left;
  margin-right: 1px;
  clear: none;
}
body .menu .data div:last-child {
  margin-right: 0;
}
body .menu .data div:nth-child(3n) {
  margin-right: 0;
}
body .menu .data div:nth-child(3n + 1) {
  clear: left;
}
body .menu .data div p {
  height: calc(7.91vw / 2);
  margin: 0;
  text-align: center;
  font-style: italic;
}
body .menu .data div p:first-child {
  font-size: 2vw;
  line-height: 3.955vw /* Doing the calc here because of IE 10 */;
  font-weight: bold;
  position: relative;
}
body .menu .data div p:first-child > * {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
body .menu .data div p:nth-child(2) {
  font-size: 1vw;
}
@media screen and (max-width: 678px) {
  body .menu .data {
    height: 15vw;
    width: 80vw;
  }
  body .menu .data div {
    height: 15vw;
  }
  body .menu .data div p {
    height: calc(15vw / 2);
  }
  body .menu .data div p:first-child {
    line-height: 7.5vw /* Doing the calc here because of IE 10 */;
    font-size: 4vw;
  }
  body .menu .data div p:nth-child(2) {
    font-size: 2vw;
    padding-top: 1vw;
  }
}
body .menu .toolbar {
  overflow: hidden;
  width: 23.8vw;
}
body .menu .toolbar .btn {
  border-color: #e1e5e5;
  border-bottom-width: 1px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
  width: 23.8vw;
  width: 100%;
  height: calc(99.99% * 1/4 - (4 - 4 * 1/4));
  margin-bottom: 4;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .menu .toolbar .btn:last-child {
  margin-bottom: 0;
}
body .menu .toolbar .btn div {
  background-repeat: no-repeat;
  background-size: calc(5vw / 2);
  background-position: center;
  height: 5vw;
  width: calc(99.999999% * 1/4);
  overflow: hidden;
}
body .menu .toolbar .btn div:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
body .menu .toolbar .btn div:last-child {
  margin-right: 0;
}
body .menu .toolbar .btn div:nth-child(4n) {
  margin-right: 0;
}
body .menu .toolbar .btn div:nth-child(4n + 1) {
  clear: left;
}
body .menu .toolbar .btn div.about {
  background-image: url("../images/svg/credential.svg");
}
body .menu .toolbar .btn div.education {
  background-image: url("../images/svg/education-grey.svg");
}
body .menu .toolbar .btn div.experience {
  background-image: url("../images/svg/work-grey.svg");
}
body .menu .toolbar .btn div.skills {
  background-image: url("../images/svg/skills-grey.svg");
}
body .menu .toolbar .btn p {
  width: calc(99.999999% * 3/4);
  height: 5vw;
  line-height: 5vw;
  margin: 0;
  font-family: arial;
  font-size: 1.7vw;
  font-weight: bolder;
  color: #8e9393;
}
body .menu .toolbar .btn p:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
body .menu .toolbar .btn p:last-child {
  margin-right: 0;
}
body .menu .toolbar .btn p:nth-child(4n) {
  margin-right: 0;
}
body .menu .toolbar .btn p:nth-child(4n + 1) {
  clear: left;
}
body .menu .toolbar .btn.active {
  background-color: #f3f7f7;
}
body .menu .toolbar .btn.active p {
  color: #000;
}
body .menu .toolbar .btn:hover {
  background-color: #e8f1f1;
}
@media screen and (max-width: 678px) {
  body .menu .toolbar {
    width: 80vw;
  }
  body .menu .toolbar .btn div {
    background-size: calc(10vw / 2);
    height: 10vw;
  }
  body .menu .toolbar .btn p {
    height: 10vw;
    line-height: 10vw;
    font-size: 3vw;
  }
}
body .menu .moreinfo {
  height: 25.24vw;
  width: 23.8vw;
  overflow: hidden;
  padding: 2.3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0 0 0;
}
body .menu .moreinfo p,
body .menu .moreinfo a {
  font-size: 1.2vw;
  margin-bottom: 0;
  margin-top: auto;
  font-family: sans-serif;
/* For IE 10 */
  display: block;
}
body .menu .moreinfo p.title {
  font-weight: bold;
}
body .menu .moreinfo p.body {
  margin-bottom: 2vw;
}
body .menu .moreinfo a {
  color: #8e9393;
  cursor: pointer;
  font-weight: bold;
  padding-left: 2.5vw;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
body .menu .moreinfo a:hover {
  color: #276363;
}
body .menu .moreinfo a:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 2.5vw;
  height: 1.2vw;
  width: 1.2vw;
}
body .menu .moreinfo a.mail:before {
  background-image: url("../images/svg/letter.svg");
}
body .menu .moreinfo a.home:before {
  background-image: url("../images/svg/home.svg");
}
body .menu .moreinfo a.dribbble:before {
  background-image: url("../images/svg/dribbble.svg");
}
body .menu .moreinfo a.twitter:before {
  background-image: url("../images/svg/twitter.svg");
  background-size: 1.5vw;
  width: 1.7vw;
}
body .menu .moreinfo a.linkedin:before {
  background-image: url("../images/svg/linkedin-inverted.svg");
  background-size: 1.7vw;
  width: 1.7vw;
}
@media screen and (max-width: 678px) {
  body .menu .moreinfo {
    height: 30vw;
    width: 80vw;
  }
  body .menu .moreinfo p,
  body .menu .moreinfo a {
    font-size: 1.9vw;
  }
  body .menu .moreinfo a {
    padding-left: 3.2vw;
  }
  body .menu .moreinfo a:before {
    height: 1.9vw;
    width: 1.9vw;
  }
  body .menu .moreinfo a.twitter:before {
    background-size: 2vw;
    width: 2.2vw;
  }
  body .menu .moreinfo a.linkedin:before {
    background-size: 2.2vw;
    width: 2.2vw;
  }
}
body .menu.hidden {
  width: 0;
}
@media screen and (max-width: 678px) {
  body .menu {
    width: 80vw;
    max-width: 80vw;
  }
}
body .content {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5vw;
  position: absolute;
}
body .content .menu-btn {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
}
body .content .text-container {
  font-family: sans-serif;
  line-height: 3vw;
  font-size: 1.4vw;
  overflow: hidden;
}
body .content .text-container p.diamond {
  padding-left: 4vw;
  margin: 0;
}
body .content .text-container p.diamond:before {
  content: '';
  width: 1.4vw;
  height: 1.4vw;
  background-image: url("../images/svg/diamond.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 6.5vw;
  margin-top: 0.7vw;
}
@media screen and (max-width: 678px) {
  body .content .text-container {
    font-size: 2.3vw;
  }
  body .content .text-container p.diamond {
    padding-left: 5vw;
  }
  body .content .text-container p.diamond:before {
    width: 2.3vw;
    height: 2.3vw;
    margin-top: 0.3vw;
  }
}
body .content .languages {
  height: 16vw;
  margin-top: 2vw;
  overflow: hidden;
}
body .content .languages h1 {
  color: #545a5b;
  font-size: 1.7vw;
  font-family: sans-serif;
}
body .content .languages .languages-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3vw;
}
body .content .languages .languages-container .radial {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 10vw;
  width: 10vw;
}
body .content .languages .languages-container .radial img {
  position: absolute;
  border-radius: 0.5vw;
/* Initially hidden until script loads */
  display: none;
}
body .content .languages .languages-container .radial div {
  height: 10vw;
  width: 10vw;
  overflow: hidden;
}
@media screen and (max-width: 678px) {
  body .content .languages {
    height: 20vw;
  }
  body .content .languages h1 {
    font-size: 2.4vw;
  }
  body .content .languages .languages-container .radial {
    height: 12vw;
    width: 12vw;
  }
  body .content .languages .languages-container .radial div {
    height: 12vw;
    width: 12vw;
  }
}
body .content .places {
  margin-top: 2.7vw;
}
body .content .places h1 {
  color: #545a5b;
  font-family: sans-serif;
  font-size: 1.7vw;
}
body .content .places .reference {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2vw;
}
body .content .places .reference .point {
  margin-right: 2vw;
  padding-left: 2vw;
  position: relative;
}
body .content .places .reference .point p {
  font-family: sans-serif;
  font-size: 1.5vw;
  margin: 0 auto 0 2vw;
}
body .content .places .reference .point div {
  content: '';
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  top: 0;
}
body .content .places .reference .point:first-child div {
  background-color: #f92322;
}
body .content .places .reference .point:last-child div {
  background-color: #3665ff;
}
@media screen and (max-width: 678px) {
  body .content .places h1 {
    font-size: 2.4vw;
  }
  body .content .places .reference .point p {
    font-size: 2vw;
    margin: 0 auto 0 3vw;
  }
  body .content .places .reference .point div {
    height: 2vw;
    width: 2vw;
  }
}
@media screen and (max-width: 678px) {
  body .content .menu-btn {
    height: 5vw;
    width: 5vw;
  }
}
@-o-viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

/*# sourceMappingURL=map/main.css.map */
