/* author: @facundovictor */
/* Importing configuration */
html,
body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .menu {
  background-color: #f3f7f7;
  max-width: 23.8vw;
  width: 23.8vw;
}
body .content {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.menu .presentation {
  height: 29.8vw;
  max-height: 29.8vw;
  width: 23.8vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu .presentation .profile {
  margin: 4vw auto;
  margin-bottom: calc(4vw - 3vw);
}
.menu .presentation .profile img {
  border-radius: 50%;
  width: 12.3vw;
  display: block;
  margin: 0 auto;
}
.menu .presentation .profile .flag {
  position: absolute;
  top: calc(9vw + 4vw);
  left: calc(10vw + 4vw);
}
.menu .presentation .profile .flag {
  width: calc(4vw - 1vw);
  height: calc(4vw - 1vw);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vw solid #f3f7f7;
}
.menu .presentation .profile .flag svg {
  display: block;
  position: relative;
  top: -0.16vw;
  left: -0.15vw;
  height: calc(4vw - 0.7vw);
  width: calc(4vw - 0.7vw);
  background-color: #f5df41;
}
.menu .presentation .profile .flag svg path {
  fill: #2d42f8;
}
.menu .presentation .profile .flag svg path:first-child {
  fill: #56ff2c;
}
.menu .presentation h1,
.menu .presentation h2 {
  text-align: center;
}
.menu .presentation h1:nth-child(2) {
  font-family: arial;
  font-size: 1.8vw;
  margin: 2vw 0 0 0;
}
.menu .presentation h1:nth-child(3) {
  color: #545a5b;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0.4vw 0 0 0;
}
.menu .presentation h2 {
  font-style: italic;
  font-weight: 100;
}
.menu .presentation h2:nth-child(4) {
  font-size: 1.5vw;
}
.menu .presentation h2:nth-child(4):before {
  content: '';
  background-image: url("../images/svg/pin.svg");
  height: 1.5vw;
  width: 1.6vw;
  background-size: 1.5vw 1.6vw;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 4.5vw;
}
.menu .data {
  height: 7.91vw;
  width: 23.8vw;
  overflow: hidden;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e1e5e5;
  background-color: #e1e5e5;
}
.menu .data div {
  width: calc(99.99% * 1/3 - (1px - 1px * 1/3));
  height: 7.91vw;
  overflow: hidden;
  background-color: #f3f7f7;
}
.menu .data div:nth-child(n) {
  float: left;
  margin-right: 1px;
  clear: none;
}
.menu .data div:last-child {
  margin-right: 0;
}
.menu .data div:nth-child(3n) {
  margin-right: 0;
}
.menu .data div:nth-child(3n + 1) {
  clear: left;
}
.menu .data div p {
  height: calc(7.91vw / 2);
  margin: 0;
  text-align: center;
  font-style: italic;
}
.menu .data div p:first-child {
  font-size: 2vw;
  line-height: calc(7.91vw / 2);
  font-weight: bold;
  position: relative;
}
.menu .data div p:first-child > * {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.menu .data div p:nth-child(2) {
  font-size: 1vw;
}

/*# sourceMappingURL=map/main.css.map */
