.menu {
  background-color: menu-background-color;
  max-width: menu-width;
  width: menu-width;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu .presentation {
  background-color: menu-active-background-color;
  height: profile-presentation-height;
  max-height: profile-presentation-height;
  width: profile-presentation-width;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu .presentation .profile {
  margin: profile-image-margin auto;
  margin-bottom: calc(profile-image-margin - 3vw);
}
.menu .presentation .profile img {
  border-radius: 50%;
  width: profile-image-width;
  display: block;
  margin: 0 auto;
}
.menu .presentation .profile .flag {
  position: absolute;
  top: calc(profile-flag-top + profile-image-margin);
  left: calc(profile-flag-left + profile-image-margin);
}
.menu .presentation .profile .flag {
  width: calc(profile-flag-image-size - 1vw);
  height: calc(profile-flag-image-size - 1vw);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vw solid menu-active-background-color;
}
.menu .presentation .profile .flag svg {
  display: block;
  position: relative;
  top: -0.16vw;
  left: -0.15vw;
  height: calc(profile-flag-image-size - 0.7vw);
  width: calc(profile-flag-image-size - 0.7vw);
  background-color: flag-brazil-color-yellow;
}
.menu .presentation .profile .flag svg path {
  fill: flag-brazil-color-blue;
}
.menu .presentation .profile .flag svg path:first-child {
  fill: flag-brazil-color-green;
}
@media screen and (max-width: tablet-width) {
  .menu .presentation .profile .flag {
    width: calc(profile-flag-image-size-tablet - 1vw);
    height: calc(profile-flag-image-size-tablet - 1vw);
  }
  .menu .presentation .profile .flag svg {
    height: calc(profile-flag-image-size-tablet - 0.7vw);
    width: calc(profile-flag-image-size-tablet - 0.7vw);
  }
}
.menu .presentation h1,
.menu .presentation h2 {
  text-align: center;
}
.menu .presentation h1:nth-child(2) {
  font-family: arial;
  font-size: profile-name-font-size;
  margin: 2vw 0 0 0;
}
.menu .presentation h1:nth-child(3) {
  color: profile-title-color;
  font-size: profile-title-font-size;
  font-weight: bold;
  margin: 0.4vw 0 0 0;
}
.menu .presentation h2 {
  font-style: italic;
  font-weight: 100;
}
.menu .presentation h2:nth-child(4) {
  font-size: profile-location-font-size;
}
.menu .presentation h2:nth-child(4):before {
  content: '';
  background-image: url("../images/svg/pin.svg");
  height: profile-location-height;
  width: profile-location-width;
  background-size: profile-location-height profile-location-width;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 4.5vw;
}
@media screen and (max-width: tablet-width) {
  .menu .presentation {
    width: profile-presentation-width-tablet;
  }
  .menu .presentation .profile {
    margin-left: 4vw;
  }
  .menu .presentation .profile img {
    width: profile-image-width-tablet;
/* For IE support */
    display: inline;
  }
  .menu .presentation .profile .flag {
    top: calc(profile-flag-top-tablet + profile-image-margin);
    left: calc(profile-flag-left-tablet + profile-image-margin);
  }
  .menu .presentation h1,
  .menu .presentation h2 {
    position: absolute;
    left: 30vw;
  }
  .menu .presentation h1:nth-child(2) {
    font-size: profile-name-font-size-tablet;
    top: 4.5vw;
  }
  .menu .presentation h1:nth-child(3) {
    font-size: profile-title-font-size-tablet;
    font-style: italic;
    top: 13vw;
  }
  .menu .presentation h2:nth-child(4) {
    font-size: profile-location-font-size-tablet;
    top: 18.5vw;
    padding-left: profile-location-font-size-tablet;
  }
  .menu .presentation h2:nth-child(4):before {
    background-size: profile-location-height-tablet profile-location-width-tablet;
    left: 0;
    height: profile-location-height-tablet;
    width: profile-location-width-tablet;
  }
}
.menu .data {
  height: data-height;
  width: data-width;
  overflow: hidden;
  border-top-width: data-border-width;
  border-bottom-width: data-border-width;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: data-border-color;
  background-color: data-border-color;
}
.menu .data div {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  height: data-height;
  overflow: hidden;
  background-color: menu-active-background-color;
}
.menu .data div:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.menu .data div:last-child {
  margin-right: 0;
}
.menu .data div:nth-child(3n) {
  margin-right: 0;
}
.menu .data div:nth-child(3n + 1) {
  clear: left;
}
.menu .data div p {
  height: calc(data-height / 2);
  margin: 0;
  text-align: center;
  font-style: italic;
}
.menu .data div p:first-child {
  font-size: data-value-font-size;
  line-height: data-line-height;
  font-weight: bold;
  position: relative;
}
.menu .data div p:first-child > * {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.menu .data div p:nth-child(2) {
  font-size: data-title-font-size;
}
@media screen and (max-width: tablet-width) {
  .menu .data {
    height: data-height-tablet;
    width: data-width-tablet;
  }
  .menu .data div {
    height: data-height-tablet;
  }
  .menu .data div p {
    height: calc(data-height-tablet / 2);
  }
  .menu .data div p:first-child {
    line-height: data-line-height-tablet;
    font-size: data-value-font-size-tablet;
  }
  .menu .data div p:nth-child(2) {
    font-size: data-title-font-size-tablet;
    padding-top: 1vw;
  }
}
.menu .toolbar {
  overflow: hidden;
  width: toolbar-width;
}
.menu .toolbar .btn {
  border-color: toolbar-button-border-color;
  border-bottom-width: toolbar-button-border-width;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
  width: toolbar-width;
  width: 100%;
  height: calc(99.99% * 1/4 - (4 - 4 * 1/4));
  margin-bottom: 4;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu .toolbar .btn:last-child {
  margin-bottom: 0;
}
.menu .toolbar .btn div {
  background-repeat: no-repeat;
  background-size: calc(toolbar-button-height / 2);
  background-position: center;
  height: toolbar-button-height;
  width: calc(99.999999% * 1/4);
  overflow: hidden;
}
.menu .toolbar .btn div:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.menu .toolbar .btn div:last-child {
  margin-right: 0;
}
.menu .toolbar .btn div:nth-child(4n) {
  margin-right: 0;
}
.menu .toolbar .btn div:nth-child(4n + 1) {
  clear: left;
}
.menu .toolbar .btn div.about {
  background-image: url("../images/svg/credential.svg");
}
.menu .toolbar .btn div.education {
  background-image: url("../images/svg/education-grey.svg");
}
.menu .toolbar .btn div.experience {
  background-image: url("../images/svg/work-grey.svg");
}
.menu .toolbar .btn div.skills {
  background-image: url("../images/svg/skills-grey.svg");
}
.menu .toolbar .btn p {
  width: calc(99.999999% * 3/4);
  height: toolbar-button-height;
  line-height: toolbar-button-height;
  margin: 0;
  font-family: arial;
  font-size: toolbar-button-font-size;
  font-weight: bolder;
  color: toolbar-button-inactive-color;
}
.menu .toolbar .btn p:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.menu .toolbar .btn p:last-child {
  margin-right: 0;
}
.menu .toolbar .btn p:nth-child(4n) {
  margin-right: 0;
}
.menu .toolbar .btn p:nth-child(4n + 1) {
  clear: left;
}
.menu .toolbar .btn.active {
  background-color: menu-active-background-color;
}
.menu .toolbar .btn.active p {
  color: #000;
}
.menu .toolbar .btn:hover {
  background-color: menu-hover-background-color;
}
@media screen and (max-width: tablet-width) {
  .menu .toolbar {
    width: toolbar-width-tablet;
  }
  .menu .toolbar .btn div {
    background-size: calc(toolbar-button-height-tablet / 2);
    height: toolbar-button-height-tablet;
  }
  .menu .toolbar .btn p {
    height: toolbar-button-height-tablet;
    line-height: toolbar-button-height-tablet;
    font-size: toolbar-button-font-size-tablet;
  }
}
.menu .moreinfo {
  height: moreinfo-height;
  width: menu-width;
  overflow: hidden;
  padding: 2.3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0 0 0;
}
.menu .moreinfo p,
.menu .moreinfo a {
  font-size: moreinfo-font-size;
  margin-bottom: 0;
  margin-top: auto;
  font-family: sans-serif;
/* For IE 10 */
  display: block;
}
.menu .moreinfo p.title {
  font-weight: bold;
}
.menu .moreinfo p.body {
  margin-bottom: 2vw;
}
.menu .moreinfo a {
  color: moreinfo-link-color;
  cursor: pointer;
  font-weight: bold;
  padding-left: 2.5vw;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.menu .moreinfo a:hover {
  color: moreinfo-link-over-color;
}
.menu .moreinfo a:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 2.5vw;
  height: moreinfo-font-size;
  width: moreinfo-font-size;
}
.menu .moreinfo a.mail:before {
  background-image: url("../images/svg/letter.svg");
}
.menu .moreinfo a.home:before {
  background-image: url("../images/svg/home.svg");
}
.menu .moreinfo a.dribbble:before {
  background-image: url("../images/svg/dribbble.svg");
}
.menu .moreinfo a.twitter:before {
  background-image: url("../images/svg/twitter.svg");
  background-size: 1.5vw;
  width: 1.7vw;
}
.menu .moreinfo a.linkedin:before {
  background-image: url("../images/svg/linkedin-inverted.svg");
  background-size: 1.7vw;
  width: 1.7vw;
}
@media screen and (max-width: tablet-width) {
  .menu .moreinfo {
    height: moreinfo-height-tablet;
    width: menu-width-tablet;
  }
  .menu .moreinfo p,
  .menu .moreinfo a {
    font-size: moreinfo-font-size-tablet;
  }
  .menu .moreinfo a {
    padding-left: 3.2vw;
  }
  .menu .moreinfo a:before {
    height: moreinfo-font-size-tablet;
    width: moreinfo-font-size-tablet;
  }
  .menu .moreinfo a.twitter:before {
    background-size: 2vw;
    width: 2.2vw;
  }
  .menu .moreinfo a.linkedin:before {
    background-size: 2.2vw;
    width: 2.2vw;
  }
}
.menu.hidden {
  width: 0;
}
@media screen and (max-width: tablet-width) {
  .menu {
    width: menu-width-tablet;
    max-width: menu-width-tablet;
  }
}

/*# sourceMappingURL=map/menu.css.map */
