.presentation {
  background-color: menu-active-background-color;
  height: profile-presentation-height;
  max-height: profile-presentation-height;
  width: profile-presentation-width;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.presentation .profile {
  margin: profile-image-margin auto;
  margin-bottom: calc(profile-image-margin - 3vw);
}
.presentation .profile img {
  border-radius: 50%;
  width: profile-image-width;
  display: block;
  margin: 0 auto;
}
.presentation .profile .flag {
  position: absolute;
  top: calc(profile-flag-top + profile-image-margin);
  left: calc(profile-flag-left + profile-image-margin);
}
.presentation .profile .flag {
  width: calc(profile-flag-image-size - 1vw);
  height: calc(profile-flag-image-size - 1vw);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vw solid menu-active-background-color;
}
.presentation .profile .flag svg {
  display: block;
  position: relative;
  top: -0.16vw;
  left: -0.15vw;
  height: calc(profile-flag-image-size - 0.7vw);
  width: calc(profile-flag-image-size - 0.7vw);
  background-color: flag-brazil-color-yellow;
}
.presentation .profile .flag svg path {
  fill: flag-brazil-color-blue;
}
.presentation .profile .flag svg path:first-child {
  fill: flag-brazil-color-green;
}
@media screen and (max-width: tablet-width) {
  .presentation .profile .flag {
    width: calc(profile-flag-image-size-tablet - 1vw);
    height: calc(profile-flag-image-size-tablet - 1vw);
  }
  .presentation .profile .flag svg {
    height: calc(profile-flag-image-size-tablet - 0.7vw);
    width: calc(profile-flag-image-size-tablet - 0.7vw);
  }
}
.presentation h1,
.presentation h2 {
  text-align: center;
}
.presentation h1:nth-child(2) {
  font-family: arial;
  font-size: profile-name-font-size;
  margin: 2vw 0 0 0;
}
.presentation h1:nth-child(3) {
  color: profile-title-color;
  font-size: profile-title-font-size;
  font-weight: bold;
  margin: 0.4vw 0 0 0;
}
.presentation h2 {
  font-style: italic;
  font-weight: 100;
}
.presentation h2:nth-child(4) {
  font-size: profile-location-font-size;
}
.presentation h2:nth-child(4):before {
  content: '';
  background-image: url("../images/svg/pin.svg");
  height: profile-location-height;
  width: profile-location-width;
  background-size: profile-location-height profile-location-width;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 4.5vw;
}
@media screen and (max-width: tablet-width) {
  .presentation {
    width: profile-presentation-width-tablet;
  }
  .presentation .profile {
    margin-left: 4vw;
  }
  .presentation .profile img {
    width: profile-image-width-tablet;
  }
  .presentation .profile .flag {
    top: calc(profile-flag-top-tablet + profile-image-margin);
    left: calc(profile-flag-left-tablet + profile-image-margin);
  }
  .presentation h1,
  .presentation h2 {
    position: absolute;
    left: 30vw;
  }
  .presentation h1:nth-child(2) {
    font-size: profile-name-font-size-tablet;
    top: 4.5vw;
  }
  .presentation h1:nth-child(3) {
    font-size: profile-title-font-size-tablet;
    font-style: italic;
    top: 13vw;
  }
  .presentation h2:nth-child(4) {
    font-size: profile-location-font-size-tablet;
    top: 18.5vw;
    padding-left: profile-location-font-size-tablet;
  }
  .presentation h2:nth-child(4):before {
    background-size: profile-location-height-tablet profile-location-width-tablet;
    left: 0;
    height: profile-location-height-tablet;
    width: profile-location-width-tablet;
  }
}

/*# sourceMappingURL=../map/components/presentation.css.map */
