.languages
    height: languages-height
    margin-top: 2vw
    overflow: hidden
    h1
        color: languages-title-color
        font-size: languages-title-font-size
        font-family: languages-title-font-family
    .languages-container
        display: flex
        flex-direction: row
        margin-top: 3vw
        .radial
            margin: 0 auto
            overflow: hidden
            position:relative
            height: languages-box-size
            width: languages-box-size
            img
                position: absolute
                border-radius: 0.5vw
                /* Initially hidden until script loads */
                display: none
            div
                height: languages-box-size
                width: languages-box-size
                overflow: hidden

@media screen and (max-width: tablet-width)
    .languages
        height: languages-height-tablet
        h1
            font-size: languages-title-font-size-tablet
        .languages-container
            .radial
                height: languages-box-size-tablet
                width: languages-box-size-tablet
                div
                    height: languages-box-size-tablet
                    width: languages-box-size-tablet
