.toolbar
    overflow: hidden
    width: toolbar-width
    .btn
        border-color: toolbar-button-border-color
        border-bottom-width: toolbar-button-border-width           
        border-style: solid
        border-top: 0px
        border-left: 0px
        border-right: 0px
        cursor: pointer
        width: toolbar-width
        lost-row: 1/4 4 0
        overflow: hidden
        transition: all 0.3s

        div
            background-repeat: no-repeat
            background-size: "calc(%s / 2)" % toolbar-button-height
            background-position: center
            height: toolbar-button-height
            lost-column: 1/4 4 0
            overflow: hidden
        div.about
            background-image: url('../images/svg/credential.svg')
        div.education
            background-image: url('../images/svg/education-grey.svg')
        div.experience
            background-image: url('../images/svg/work-grey.svg')
        div.skills
            background-image: url('../images/svg/skills-grey.svg')
        p
            lost-column: 3/4 4 0
            height: toolbar-button-height
            line-height: toolbar-button-height
            margin: 0
            font-family: arial
            font-size: toolbar-button-font-size
            font-weight: bolder
            color: toolbar-button-inactive-color

    .btn.active
        background-color: menu-active-background-color
        p
            color: black
    .btn:hover
        background-color: menu-hover-background-color

@media screen and (max-width: tablet-width)
    .toolbar
        width: toolbar-width-tablet    
        .btn
            div
                background-size: "calc(%s / 2)" % toolbar-button-height-tablet
                height: toolbar-button-height-tablet
            p
                height: toolbar-button-height-tablet
                line-height: toolbar-button-height-tablet
                font-size: toolbar-button-font-size-tablet
