
/********************************** MENU *************************************/

/* Left menu dimensions */
menu-width = 23.8vw
menu-background-color = #fcfdfd
menu-active-background-color = #f3f7f7
menu-hover-background-color = #E8F1F1
menu-border-color = #e1e5e5
menu-inner-border-width = 1px

/* Profile___________________________________*/
/* Left profile dimensions */
profile-presentation-width = menu-width
profile-presentation-height = 29.8vw 
/* Image dimensions */
profile-image-width = 12.3vw
profile-image-over-scale = 1.03
profile-image-margin = 4vw
/* Flag dimensions */
profile-flag-image-size = 4vw
profile-flag-top = 9vw
profile-flag-left = 10vw
/* Name */
profile-name-font-size = 1.8vw
/* Title */
profile-title-color = #545a5b
profile-title-font-size = 1.5vw
/* Location */
profile-location-font-size = 1.5vw
profile-location-height = 1.5vw
profile-location-width = 1.6vw

/* Menu Data_________________________________*/
data-width = menu-width
data-height = 7.91vw
data-line-height = data-height / 2 /* Doing the calc here because of IE 10 */
data-border-color = menu-border-color
data-border-width = menu-inner-border-width
/* Value of each box */
data-value-font-size = 2vw
/* Title of each box */
data-title-font-size = 1vw

/* Toolbar___________________________________*/
toolbar-width = menu-width
/* Buttons */
toolbar-button-height = 5vw
toolbar-button-font-size = 1.7vw
toolbar-button-border-color = menu-border-color
toolbar-button-border-width = menu-inner-border-width
toolbar-button-inactive-color = #8e9393

/* Moreinfo__________________________________*/
moreinfo-height = 25.24vw
moreinfo-width = menu-width
moreinfo-font-size = 1.2vw
moreinfo-link-color = #8e9393
moreinfo-link-over-color = #276363

/****************************** Content **************************************/
menu-button-size = 3vw
content-width = 75vw

/* Text container____________________________*/
text-container-max-width = 60vw

/* Diamond text */
text-container-text-font-size = 1.4vw

/* Subtitles */
subtitles-font-size = 1.7vw
subtitles-color = profile-title-color
subtitles-font-family = sans-serif

/* Languages */
languages-height = 16vw
languages-title-font-size = subtitles-font-size
languages-title-font-family = subtitles-font-family
languages-title-color = subtitles-color
languages-box-size = languages-height - 6vw
langugaes-box-margin = 2vw
languages-radial-background-color = #f2f6f5
languages-radial-progress-color = #a2b4b3

/* Places */
places-title-font-size = subtitles-font-size
places-title-font-family = subtitles-font-family
places-title-color = subtitles-color
places-reference-font-size = 1.5vw
places-reference-font-family = places-title-font-family
places-reference-cultural-color = #3665ff
places-reference-living-color = #f92322

/*****************************************************************************/
/* Fixes */
flag-brazil-color-green = #56ff2c
flag-brazil-color-yellow = #f5df41
flag-brazil-color-blue = #2d42f8
