
/********************************** MENU *************************************/

/* Left menu dimensions */
menu-width = 23.8vw
menu-width-tablet = 80vw
menu-background-color = #fcfdfd
menu-active-background-color = #f3f7f7
menu-hover-background-color = #E8F1F1
menu-border-color = #e1e5e5
menu-inner-border-width = 1px

/* Profile___________________________________*/
/* Left profile dimensions */
profile-presentation-width = menu-width
profile-presentation-width-tablet = menu-width-tablet
profile-presentation-height = 29.8vw 
/* Image dimensions */
profile-image-width = 12.3vw
profile-image-width-tablet = 20vw
profile-image-over-scale = 1.03
profile-image-margin = 4vw
/* Flag dimensions */
profile-flag-image-size = 4vw
profile-flag-image-size-tablet = 8vw
profile-flag-top = 9vw
profile-flag-left = 10vw
profile-flag-top-tablet = 13vw
profile-flag-left-tablet = 14vw

/* Name */
profile-name-font-size = 1.8vw
profile-name-font-size-tablet = 3.6vw
/* Title */
profile-title-color = #545a5b
profile-title-font-size = 1.5vw
profile-title-font-size-tablet = 3vw
/* Location */
profile-location-font-size = 1.5vw
profile-location-font-size-tablet = 2vw
profile-location-height = 1.5vw
profile-location-width = 1.6vw
profile-location-height-tablet = 2vw
profile-location-width-tablet = 2.2vw

/* Menu Data_________________________________*/
data-width = menu-width
data-width-tablet = menu-width-tablet
data-height = 7.91vw
data-height-tablet = 15vw
data-line-height = data-height / 2 /* Doing the calc here because of IE 10 */
data-line-height-tablet = data-height-tablet / 2 /* Doing the calc here because of IE 10 */
data-border-color = menu-border-color
data-border-width = menu-inner-border-width
/* Value of each box */
data-value-font-size = 2vw
data-value-font-size-tablet = 4vw
/* Title of each box */
data-title-font-size = 1vw
data-title-font-size-tablet = 2vw

/* Toolbar___________________________________*/
toolbar-width = menu-width
toolbar-width-tablet = menu-width-tablet
/* Buttons */
toolbar-button-height = 5vw
toolbar-button-height-tablet = 10vw
toolbar-button-font-size = 1.7vw
toolbar-button-font-size-tablet = 3vw
toolbar-button-border-color = menu-border-color
toolbar-button-border-width = menu-inner-border-width
toolbar-button-inactive-color = #8e9393

/* Moreinfo__________________________________*/
moreinfo-height = 25.24vw
moreinfo-height-tablet = 30vw
moreinfo-width = menu-width
moreinfo-width-tablet = menu-width-tablet
moreinfo-font-size = 1.2vw
moreinfo-font-size-tablet = 1.9vw
moreinfo-link-color = #8e9393
moreinfo-link-over-color = #276363

/****************************** Content **************************************/
menu-button-size = 3vw
menu-button-size-tablet = 5vw
content-width = 75vw

/* Text container____________________________*/
text-container-max-width = 60vw

/* Diamond text */
text-container-text-font-size = 1.4vw
text-container-text-font-size-tablet = 2.3vw

/* Subtitles */
subtitles-font-size = 1.7vw
subtitles-font-size-tablet = 2.4vw
subtitles-color = profile-title-color
subtitles-font-family = sans-serif

/* Languages */
languages-height = 16vw
languages-height-tablet = 20vw
languages-title-font-size = subtitles-font-size
languages-title-font-size-tablet = subtitles-font-size-tablet
languages-title-font-family = subtitles-font-family
languages-title-color = subtitles-color
languages-box-size = languages-height - 6vw
languages-box-size-tablet = languages-height-tablet - 8vw
langugaes-box-margin = 2vw
languages-radial-background-color = #f2f6f5
languages-radial-progress-color = #a2b4b3

/* Places */
places-title-font-size = subtitles-font-size
places-title-font-size-tablet = subtitles-font-size-tablet
places-title-font-family = subtitles-font-family
places-title-color = subtitles-color
places-reference-font-size = 1.5vw
places-reference-font-size-tablet = 2vw
places-reference-font-family = places-title-font-family
places-reference-cultural-color = #3665ff
places-reference-living-color = #f92322

/*****************************************************************************/
/* Fixes */
flag-brazil-color-green = #56ff2c
flag-brazil-color-yellow = #f5df41
flag-brazil-color-blue = #2d42f8

/*****************************************************************************/
/* Tablet size */
tablet-width = 678px
