
/* Left menu dimensions */
menu-width = 23.8vw
menu-background-color = #f3f7f7

/* Profile___________________________________*/
/* Left profile dimensions */
profile-presentation-width = menu-width
profile-presentation-height = 29.8vw 
profile-image-width = 12.3vw
profile-image-over-scale = 1.03
profile-image-margin = 4vw
profile-flag-image-size = 4vw
profile-flag-top = 9vw
profile-flag-left = 10vw

profile-title-color = #545a5b

/*********************************************/
/* Fixes */
flag-brazil-color-green = #56ff2c
flag-brazil-color-yellow = #f5df41
flag-brazil-color-blue = #2d42f8
