.content
    background-color: white
    flex-grow: 1
    padding: 5vw
    position: absolute
 
    .menu-btn
        cursor: pointer
        height: menu-button-size
        width: menu-button-size

    @import './components/textcontainer.styl'

    .languages
        height: languages-height
        margin-top: 2vw
        overflow: hidden
        h1
            color: languages-title-color
            font-size: languages-title-font-size
            font-family: languages-title-font-family
        .languages-container
            display: flex
            flex-direction: row
            margin-top: 3vw
            .radial
                margin: 0 auto
                overflow: hidden
                position:relative
                height: languages-box-size
                width: languages-box-size
                img
                    position: absolute
                    border-radius: 0.5vw
                    /* Initially hidden until script loads */
                    display: none
                div
                    height: languages-box-size
                    width: languages-box-size
                    overflow: hidden
                    
 
