.content
    background-color: white
    flex-grow: 1
    padding: 5vw
    position: absolute
 
    .menu-btn
        cursor: pointer
        height: menu-button-size
        width: menu-button-size

    @import './components/textcontainer.styl'

    @import './components/languages.styl'
                    
    @import './components/places.styl'
 
