.menu
    background-color: menu-background-color
    max-width: menu-width
    width: menu-width
    overflow: hidden
    transition: width 0.3s
    position: relative
    display: flex
    flex-direction: column

    @import './components/presentation.styl'

    @import './components/data.styl'

    @import './components/toolbar.styl'

    @import './components/moreinfo.styl'

.menu.hidden
    width: 0


@media screen and (max-width: tablet-width)
    .menu
        width: menu-width-tablet
        max-width: menu-width-tablet
