.menu
    background-color: menu-background-color
    max-width: menu-width
    width: menu-width
    overflow: hidden
    transition: width 1s
    position: relative

    @import './components/presentation.styl'

    @import './components/data.styl'

    @import './components/toolbar.styl'

.menu.hidden
    width: 0
