doctype html
html(lang="en")
    head
        title="Rodrigo's profile"
        link(rel="stylesheet" href='css/main.css')
        script(type='text/javascript' src='js/lib/d3.min.js')
        script(type='text/javascript' src='js/lib/radialProgress.js')
        script(type='text/javascript' src='js/app.js')
    body
        section.menu
            include ./menu.jade
        section.content
            include ./content.jade
