.presentation
    .profile
        .flag
            include ../images/svg/brazil.svg
        img(src="./images/profile.png")
    h1 RODRIGO ANGELIM
    h1 UI/UX Designer
    h2 Valencia, Spain

.data
    .yo
        p 28
        p Y/O
    .experience
        p 5+
        p Y/EXPERIENCE
    .projects
        p 70+
        p PROJECTS DELIVERED

.toolbar
    .btn.active
        div.about
        p About Me
    .btn
        div.education
        p Education
    .btn
        div.experience
        p Work Experience
    .btn
        div.skills
        p Skills

.moreinfo
    .resume
    p.mail hi@rodaq.com
    p.home www.rodaq.com
    p.dribbble dribbble.com/rodaq
    p.twitter twitter.com/therodaq
    p.linkedin linkedin.com/in/rodaq
