.presentation
    .profile
        .flag
            include ../images/svg/brazil.svg
        img(src="./images/profile.png")
    h1 RODRIGO ANGELIM
    h1 UI/UX Designer
    h2 Valencia, Spain

.data
    .yo
        p 28
        p Y/O
    .experience
        p 5+
        p Y/EXPERIENCE
    .projects
        p 70+
        p PROJECTS DELIVERED

.toolbar
    .btn.active
        div.about
        p About Me
    .btn
        div.education
        p Education
    .btn
        div.experience
        p Work Experience
    .btn
        div.skills
        p Skills

.moreinfo
    p.title Interested in working with me?
    p.body Awseome! I'm available for full-time or freelance opportunities.
         | Get in touch:
    a.mail(href="mailto:hi@rodaq.com") hi@rodaq.com
    a.home(href="http://www.rodaq.com") www.rodaq.com
    a.dribbble(href="http://dribbble.com/rodaq") dribbble.com/rodaq
    a.twitter(href="http://twitter.com/therodaq") twitter.com/therodaq
    a.linkedin(href="http://linkedin.com/in/rodaq") linkedin.com/in/rodaq
