.presentation
    .profile
        .flag
            include ../images/svg/brazil.svg
        img(src="./images/profile.png")
    h1 RODRIGO ANGELIM
    h1 UI/UX Designer
    h2 Location

.data
    .yo
        p 28
        p Y/O
    .experience
        p 5+
        p Y/EXPERIENCE
    .projects
        p 70+
        p PROJECTS DELIVERED

.toolbar
    .btn
        p ICON
        p About Me
    .btn
        p ICON
        p Education
    .btn
        p ICON
        p Work Experience
    .btn
        p ICON
        p Skills

.moreinfo
    .resume
    p.mail hi@rodaq.com
    p.home www.rodaq.com
    p.dribbble dribbble.com/rodaq
    p.twitter twitter.com/therodaq
    p.linkedin linkedin.com/in/rodaq
